/* Fontstyle */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600&family=Roboto:wght@400;500;700&family=Titillium+Web:ital,wght@0,400;0,600;1,300;1,400&family=Crete+Round:ital@0;1&family=Neucha&family=Playfair+Display:wght@400;500;700&family=Lexend+Mega&family=Open+Sans:wght@300;400&family=Rubik:ital@0;1&display&display=swap');

/* Index page Body*/

   #Indexpage{min-height: 500px;
  background-image: url("../img/pexels-pixabay-60013.jpg");
     background-position: center;
    background-size: cover;
    background-color:#10171a;
    background-attachment: fixed;}

/*Index page Header section*/

#indexHeader {
     height: 23vh;
    width:100%;
    background-size: 100%;
    background-color: #212f2f;
    background-repeat: no-repeat;
    background-position: 40vh;
         top:0;
    position: fixed;    
     } 

/*Header section common for all pages */

.logo{
     padding-top:10px;
}


.logo p{
       font-family: "Tillium", sans-serif;
     color:#6b91a4;
     text-shadow: 3px 3px #1c1e22;
    font-size: 52px;
    font-weight: 600;
}

/* Header navbar Indexpage */

.nav_index{
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 700; 
    justify-content: center;
        padding-right: 5px;
  }

.nav_index ul{
       list-style-type: none;
       text-align: center;
      }
.nav_index li{
    margin: 0 28px 0 28px;
}

.nav_index li a{
    color:#72737b;
    text-decoration: none;
}

.nav_index li a:hover{
    color:#6b91a4;
    text-decoration: none;
}

/* Header navbar in all pages except Indexpage */

.nav{
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 700; 
    justify-content: center;
  }
 

.nav ul{
       list-style-type: none;
       text-align: center;
      }
.nav li{
    margin: 0 28px 0 28px;
}

.nav li a{
    color:#001f45;
    text-decoration: none;
}

.nav li a:hover{
    color:#6b91a4;
    text-decoration: none;
}

/*Index page Main section */

.info1{
       padding-top:200px;
   height:1200px;   
}

.info3, .info5, .info7, .info9{
     padding-top:400px;
   height:1200px; 
}

.info2t, .info3t,.info4t,.info5t,.info6t,.info7t,.info8t,.info9t{
    height:1200px;
    position: fixed;
    text-align: center;
    top: 20vh;
    left: 20vw;
    right: 20vw;
    z-index: 2;
    display:none;
 }

.sticky{
    display: block !important; /*connected to addText.js and make classes visable*/
}

.info1 p, .info3t p, .info5t p, .info7t p, .info9t p{
 color:#380707;
 padding-top: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.info2t p{
    color:#7d1313;
 padding-top: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500; 
}

.info4t p, .info8t p{
    color:#fffdca;
 padding-top: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500; 
}

.info2t p a{
      color:rgb(41, 39, 39);
    text-decoration: none;  
}

.info4t p a{
      color:lightgray;
    text-decoration: none;  
}

.info4t p a:hover{
    color:gray;
    text-decoration: none;    
}

.info6t p{
       color:white;
    text-decoration: none; 
     padding-top: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 500;     
}

.info6t p a{
       color:lightgrey;
    text-decoration: none;     
}

.info6t p a:hover{
       color:darkgray;
     font-size: 30px;
     text-decoration: none;
}

 .info3t p a,.info5t p a, .info7t p a, .info9t p a{
    color:black;
    text-decoration: none;
}

.info2t p a:hover, .info3t p a:hover, .info5t p a:hover, .info7t p a:hover{
   color:rgb(27, 25, 25);
     font-size: 30px;
     text-decoration: none;
}

.info2{
     height:1200px;
     background-image:  url("../img/pexels-guduru-ajay-bhargav-1043558.jpg"); 
     background-size: 100vw 80vw; 
      background-position: center;
     background-repeat: no-repeat;
    }



.info4{
     height:1200px;
     background-image:  url("../img/barehands_clean_up_640_08.jpg"); 
     background-size: 100%; 
      background-position: center;
     background-repeat: no-repeat;
    }

    .info6{
     height:1200px;
     background-image:  url("../img/pexels-chris-leboutillier-929385.jpg"); 
     background-size: 100%; 
      background-position: center;
     background-repeat: no-repeat;
    }

   .info8{
     height:1200px;
     background-image:  url("../img/pexels-karolina-grabowska-4207908.jpg"); 
     background-size: 100%; 
      background-position: center;
     background-repeat: no-repeat;
    }

    /* Footer section common for all pages*/

    footer{
    padding-top: 10px;
     height:200px;
     width: 100%;
 background-size: 2400px 220px;
         background-position: center;
        background-repeat: no-repeat;
     border-bottom: #c7deec 12px 12px;
     background-image: url("../img/klipartz.com (6)_iceberg.png");
          bottom: -50px;
    position: fixed;
   
   } 

   .footerframe h1{
       color:black;
        padding: 54px 0px 0 0px;
    font-family: "Roboto", sans-serif;
      font-size: 16px;
    font-weight: 600;   
}

.footerframe ul{  
    list-style-type: none;
    font-family: "Titillium", sans-serif;
    font-weight: 400;
    font-size: 12px;}

.footerframe p{  
    font-family: "Titillium", sans-serif;
    font-weight: 400;
    font-size: 14px;}

.abouttext p, .footerlinks li, .socialmedialinks li {
        font-family: "Titillium", sans-serif;
    background-color: white;
          font-size: 12px;
     opacity: 0.7;
}

   .abouttext p{
          color:black;
             font-size: 500;
   }

   .footerlinks li, .socialmedialinks li{
          list-style-type: none;
       text-decoration: none;
    }

      .footerlinks li a, .socialmedialinks li{
      color:black;
      font-size: 500;
    }

      .footerlinks li a:hover, .socialmedialinks li a:hover{
          list-style-type: none;
       text-decoration: none;
       color:darkgray;
   }

    /*Countrydata page Body*/
       
#CountrydataPage{
    background-color: white;
    background-position: center;
    background-size: cover;
   }

  /*Countrydata page Header section*/

       #CountryHeader {
    height: 20vh;
    width:100%;
    padding: 0px 0px 0px 0;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 40vh;
         top:0;
    
     } 

/*Countrydata page mainSection*/

.country_mainframe{
height: 75vh;
margin-top: 20px;
color:#ddd5bc;
text-shadow: 1px solid black;
}

/*Countrydata page mainSection Googlemap*/

#map{
  height: 300px; 
  border: 6px solid #e6e6e6;  
  border-radius: 2%;
}

/*javascript googlemap */

.map-info-window {
    width:200px;
    height:140px;
}

.map-info-window h1 {
        font-family: "Titillium", sans-serif;
        color: black;
    font-weight: 600;
    font-size: 12px;
}

.map-info-window p {
        font-family: "Titillium", sans-serif;
        color: gray;
    font-weight: 400;
    font-size: 10px;
}


/*About page Body*/

#aboutpage{
    height:80vh;
     background-color: #050506;
}

/*About page Header*/



          #aboutheader {
              background-image: url("../img/klipartz.com_watersurface.png");
              background-size: 100vw 10vh;
    height: 25vh;
    width:100%;
    background-color: #030303;
    background-repeat: no-repeat;
  
    
     } 

/*About Section main section */

#aboutmain{
    background-color: #000000;
    height:100vh;

  }


.earth{
    background-image: url("../img/pexels-pixabay-355935.jpg");
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: center;

}


   
.aboutFrame{
     height:300px; 
     color:white;
   padding-top:0;
   background-color: #050506;
        background-image: url("../img/klipartz.com_smoke.png");
     background-size: 200px 200px;
    opacity:0.6; 
     background-position: center;
     background-repeat: no-repeat;
     
}


.factText  {
    padding-top: 0px;
        font-family: "Rubik", sans-serif;
    color: darkgray;
    font-size: 16px;
       }

.links  {
    padding-top: 20px;
}

.links ul{
    list-style: none;
}

.links li a{
           font-family: "Rubik", sans-serif;
    color: white;
    font-size: 16px;
     text-decoration: none;
}

.links ul li a:hover{
           font-family: "Rubik", sans-serif;
    color: white;
    font-size: 20px;
     text-decoration: none;
}

.factText a:hover{
    color:darkgray;
     font-size: 22px;
     text-decoration: none;
}

 
.factText a{
    color: #c7deec;
     font-size: 22px;
      text-decoration: none;
}

.test2Frame{
   height:250px; 
   background-color: #050506;
        background-image: url("../img/klipartz.com (4)_fire.png");
     background-size: 150px 200px;
    opacity:0.6; 
     background-position: center;
     background-repeat: no-repeat;
       
}

.main_right, .pictureframe {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 340px 340px;
  
}


/*Responsive actions */


.menu_header {
        position: fixed;
        top: 3.4vh;
        right:10vw;
  opacity: 90%;
}

.dropdown-menu a {
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.dropdown-menu a:hover {
     color:#6b91a4;
}

@media screen and (max-width: 1050px) {

    #indexHeader {
        padding-top: 2vh;
     height: 12vh;   
     } 

.logo p{
    font-size: 22px;
         text-shadow: 1px 1px #1c1e22;
}


.nav_index{
    font-size: 18px;
    font-weight: 700; 
  }

  .nav_index li{
    margin: 0 8px 0 8px;
}

.info1 p, .info2t p, .info3t p,.info4t p, .info5t p,.info6t p, .info7t p,.info8t p, .info9t p{
    font-size:14px;
     padding-top: 10px;

}

.info2, .info4, .info6,.info8{
     height:100vh;
     background-size: 100vw 80vh; 
      background-position: center;
     background-repeat: no-repeat;
    }

    
.country_mainframe{
height: 50vh;
margin-top: 20px;
}

    #map{
  height: 200px; 
  border: 6px solid #e6e6e6;  
  border-radius: 2%;
}


.factText  {
    padding-top: 20px;
    font-size: 12px;
       }

 .abouttext h1,.socialmedialinks h1,.footerlinks h1{
        padding: 40px 0px 0 0px;
    font-family: "Titillium", sans-serif;
      font-size: 12px;
    font-weight: 600;   
}

.socialmedialinks li,.abouttext p, .footerlinks li a {  
    list-style-type: none;
    font-family: "Titillium", sans-serif;
    font-weight: 400;
    font-size: 10px;}


}
