/* Fontstyle */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600&family=Roboto:wght@400;500;700&family=Titillium+Web:ital,wght@0,400;0,600;1,300;1,400&family=Crete+Round:ital@0;1&family=Neucha&family=Playfair+Display:wght@400;500;700&family=Lexend+Mega&family=Open+Sans:wght@300;400&family=Rubik:ital@0;1&display&display=swap');

/* Test temperary*/



.info1 p,.info2 p, .info3 p, .info4 p, .info5 p, .info6 p, .info7 p, .info8 p, .info9 p{
 color:white;
 padding-top: 100px;
  font-family: "Tillium", sans-serif;
  font-size: 28px;
  font-weight: 500;
}



.info2 p a, .info3 p a, .info4 p a,.info5 p a, .info6 p a, .info7 p a, .info8 p a, .info9 p a{
    color:#c7deec;
    text-decoration: none;
}

.info2 p a:hover, .info3 p a:hover, .info4 p a:hover,  .info5 p a:hover, .info6 p a:hover, .info7 p a:hover, .info8 p a:hover, .info9 p a:hover{
   color:darkgray;
     font-size: 38px;
     text-decoration: none;
}

.info2{
   margin-top:800px;
     height:900px;
     background-image:  url("../img/pexels-guduru-ajay-bhargav-1043558.jpg"); 
     background-size: 100%; 
      background-position: center;
     background-repeat: no-repeat;
    }

.info1,.info3, .info5, .info7{
    padding-top:400px;
    height:900px;
}


.info9{  padding-top:300px;
    height:1200px;}

.info4{
       margin-top:800px;
     height:900px;
     background-image:  url("../img/pexels-tom-fisk-3186574.jpg"); 
     background-size: 100%; 
      background-position: center;
     background-repeat: no-repeat;
    }

    .info6{
       margin-top:800px;
     height:900px;
     background-image:  url("../img/pexels-chris-leboutillier-929385.jpg"); 
     background-size: 100%; 
      background-position: center;
     background-repeat: no-repeat;
    }

   .info8{
       margin-top:800px;
     height:900px;
     background-image:  url("../img/pexels-karolina-grabowska-4207908.jpg"); 
     background-size: 100%; 
      background-position: center;
     background-repeat: no-repeat;
    }

#testheader{
    height:200px;
        background-color: #000000;
        background-image:  url("../img/klipartz.com_watersurface.png"); 
           background-size: cover;
             background-position: center;
        background-repeat: no-repeat;
 
}

.logo{
     padding-top:60px;
}



footer{
    padding-top: 400px;
     height:900px;
     width: 100%;
          background-size: 2600px 800px;
         background-position: center;
        background-repeat: no-repeat;
     border-bottom: #c7deec 12px 12px;
     background-image: url("../img/klipartz.com (6)_iceberg.png");
          bottom: -300px;
    position: fixed;
   
   } 

#testmain{
    background-color: #000000;
    background-attachment: fixed; 
  }

.panel{
    height:60px;
    padding-top: 0px;
      /* background-color: #06131c;*/
}

.earth{
    height:800px;
    background-image: url("../img/pexels-pixabay-355935.jpg");
    background-size: 500px 500px;
    background-repeat: no-repeat;
    background-position: center;

}

   .upperwrapper{
       background-color: #191919;
   }
   
.test1Frame{
     height:500px; 
     color:white;
   padding-top:0;
   background-color: #050506;
        background-image: url("../img/klipartz.com_smoke.png");
     background-size: 400px 400px;
    opacity:0.6; 
     background-position: center;
     background-repeat: no-repeat;
     
}



.factSection{
    margin-top: 80px;
    /* border: 3px solid gray; */
 border-radius:5%;
}


.factText  {
    margin-top: 60px;
        font-family: "Rubik", sans-serif;
    color: white;
    font-size: 20px;
       }

.factText a:hover{
    color:darkgray;
     font-size: 22px;
     text-decoration: none;
}

#testpage{
     background-color: #050506;
}
 
.factText a{
    color: #c7deec;
     font-size: 22px;
      text-decoration: none;
}

.test2Frame{
   height:500px; 
   background-color: #050506;
        background-image: url("../img/klipartz.com (4)_fire.png");
     background-size: 300px 400px;
    opacity:0.6; 
     background-position: center;
     background-repeat: no-repeat;
       
}

  .testbottom{
      height:200px;
  }

/* Body */


   #Indexpage{min-height: 500px;
  background-image: url("../img/pexels-pixabay-60013.jpg");
     background-position: center;
    background-size: cover;
    background-color:#10171a;
    background-attachment: fixed;}S

/*#Indexpage{
    min-height: 1000px;
  background-image: url("../img/pexels-pixabay-60013.jpg");
     background-position: center;
    background-size: cover;
    background-color:#10171a;
    background-attachment: fixed;
   }*/

/*#main{
   min-height: 500px;
  background-image: url("../img/pexels-pixabay-60013.jpg");
     background-position: center;
    background-size: cover;
    background-color:#10171a;
    background-attachment: fixed;
}*/

   
#CountrydataPage{
   /* background-image: url("../img/pexels-francesco-ungaro-998641.jpg");*/
    background-color: #000000;
    background-position: center;
    background-size: cover;
   }

/* Header */

Header {
    background-image: url("../img/klipartz.com_stormcloud.png");
    height: 400px;
    width:100%;
    padding: 0px 0px 0px 0;
    /*background-color: black;*/
    background-size: 2600px 300px;
    background-repeat: no-repeat;
         top:0;
    position: fixed;
     } 

.logo p{
       font-family: "Tillium", sans-serif;
     color:#6b91a4;
     text-shadow: 3px 3px #1c1e22;
    font-size: 52px;
    font-weight: 600;
}

.nav{
    color:#d2c9c1;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 700; 
    justify-content: center;
  }
 

.nav ul{
       list-style-type: none;
       text-align: center;
      }
.nav li{
    margin: 0 28px 0 28px;
}

.nav li a{
    color:#001f45;
    text-decoration: none;
}

.nav li a:hover{
    color:#6b91a4;
    text-decoration: none;
}

/* Main Section */

.mainframe{
margin-top: 50px;
color:#ddd5bc;
text-shadow: 1px solid black;}

.country_mainframe{
height: 600px;
margin-top: 50px;
color:#ddd5bc;
text-shadow: 1px solid black;
}

.main_left, .main_center, .main_right{
    margin: 20px, 20px, 20px, 20px;
}

.Title p, .Title p a{
     font-family: "Titillium", sans-serif;
   color: #9aceec;
   text-shadow: black 2px solid;
      font-size: 32px;
    font-weight: 600;    
}

.Title p a:hover{
     font-family: "Titillium", sans-serif;
     color: lightgray;
     text-decoration: none;
      font-size: 32px;
    font-weight: 600;    
}

.factsframe{
    margin-bottom: 40px; 
    border: 3px solid #0c0401;
    background-color: #33352d; 
   /* opacity: 0.9;*/

}

.factsmain{
   /* opacity: 0.1;*/
   height: 200px; 
       }

.factsmain p {
    margin-top: 20px;
    font-family: "Titillium", sans-serif;
    color:#c7deec;
   font-size: 20px;
    font-weight: 400; 
}


.factsmain p a{
    margin-top: 20px;
    font-family: "Titillium", sans-serif;
    color:#d12412;
   font-size: 20px;
    font-weight: 700; 
}

.factsmain p a:hover{
    margin-top: 20px;
    font-family: "Titillium", sans-serif;
    text-decoration: none;
    color:lightgray;
   font-size: 20px;
    font-weight: 500; 
}

.main_left h1{
    padding: 20px 0px 0 20px;
    font-family: "Roboto", sans-serif;
      font-size: 28px;
    font-weight: 600;   
}

.main_left p{
    padding: 10px 0px 0 20px;
    font-family: "Titillium", sans-serif;
    font-size: 18px;
    font-weight: 400;   
}


.main_right, .pictureframe {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 340px 340px;
  
}

.bottomframe, .topframe{
    height: 40px;
}

#country_main {
      height: 700px;
      
}

#map{
  height: 500px; 
  border: 6px solid #e6e6e6;  
  border-radius: 2%;
}

.factsmain{
    margin:10px 0px 0px 0px;
    padding: 0px 10px 0px 10px;;
   /* opacity: 100%*/;
    color:black;
    margin-bottom: 10px;
}

.factsmain ul{
    list-style-type: none;
    font-family: "Titillium", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.factsmain li{
    padding: 0 20px 0 10px;
    display: inline-block;
}


/*.factSection{
    background-image:url("../img/pexels-atiabii-3166780.jpg");
    border:8px solid #c0c0c0;
     background-position: center;
    background-size: 350px 400px;
    background-repeat: no-repeat;
   /* background-color: #06131c;
   margin-top:10px;
   
    height:430px;
    }*/

/*.factText  {
padding-top: 80px;
     font-family: "Neucha", sans-serif;
    color: #ecdecf;
    font-size: 26px;
 }*/

.topsegment{
    height:40px;
       /*background-color: #06131c;*/
}

/*.panel{
    height:80px;
    padding-top: 300px;
      /* background-color: #06131c;
}*/

.panel ul li{
       padding: 20px 20px 0px 20px;
    color: white;
    display:inline;
list-style-type: none;
   font-size: 38px;

}

/*#main {
    height:800px;
    background-image: url("../img/pexels-pixabay-60013.jpg");
    background-size: 100% 100%;
   opacity:0.9;
}*/

/* Footer */

/*footer{
    color: #fffded;
   background-color: white; 
}*/

.footerframe h1{
        padding: 20px 0px 0 0px;
    font-family: "Roboto", sans-serif;
      font-size: 24px;
    font-weight: 600;   
}

.footerframe ul{  
    list-style-type: none;
    font-family: "Titillium", sans-serif;
    font-weight: 400;
    font-size: 16px;}

.footerframe p{  
    font-family: "Titillium", sans-serif;
    font-weight: 400;
    font-size: 16px;}

/*javascript googlemap */

.map-info-window {
    width:200px;
    height:140px;
}

.map-info-window h1 {
        font-family: "Titillium", sans-serif;
        color: black;
    font-weight: 600;
    font-size: 12px;
}

.map-info-window p {
        font-family: "Titillium", sans-serif;
        color: gray;
    font-weight: 400;
    font-size: 10px;
}

/*Responsive actions */